$gray: #e6e6e6;

$gray-100: $gray !default;
$gray-200: #e6e6e6 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #222222 !default;

$white: white;
$black: black;

$bg-red: #D11726;
$bg-yellow: #fd9e00;
$bg-lightblue: #0094b8;
$bg-blue: #003b89;

/* Gestione colori
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
$yellow: #fd9e00; // Chi siamo
$yellow-dark:#cc8000;
$lightblue: #0094b8; // Livingo Outside the Box
$lightblue-dark: #026780;
$red: #D11726; // Packaging Solution
$red-dark: #ac121e;
$purple: #9b3b87; // Blog
$purple-dark: #85126d;
$blue: #003b89; // Contatti
$blue-dark: #002960;

/* Gestione colori sezioni
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


/* - - - - - - - - - - - - - - - - - - - - - -> Yellow */
.page-yellow {

    /* Titoli */
    .wrap-title {
        &:after {
            background: $yellow;
        }

        h3 {
            color: $yellow;

            &:after {
                background: $yellow;
            }
        }
    }

    /* Cta */
    .btn {
        background: $yellow !important;
    }

    /* Cover pagine interne */
    .section--cover .wrap-cover {
        background: $yellow;
    }

    /* Foto pagine interne */
    .section--foto ._txt ._wrap-copy .tit {
        color: $yellow;
    }

    /* Filtri */
    .section--filtri {
        .cta .btn {

            &:hover,
            &:focus {
                background: #000 !important;
            }
        }

        .cta.active .btn {
            background: $yellow !important;
        }

        .drop-filtri {

            button {

                &:hover,
                &:focus {
                    background: #000 !important;
                    outline: none;
                }
            }

            .dropdown-item {

                &:hover {
                    background: $yellow;
                }
            }

        }

    }

    /* Foto pagine interne colorate */
    .section--foto--color .wrap-cover {
        background: $yellow;

        .years {
            background: $yellow-dark;

        }
    }

    /* Sezione listing */
    .section--mix {
        .thumb .wrap-thumb-content {
            background: $yellow;


        }

        .years {
            background: $yellow-dark;
        }
    }
}

/* - - - - - - - - - - - - - - - - - - - - - -> Lightblue */
.page-lightblue {

    /* Titoli */
    .wrap-title {
        &:after {
            background: $lightblue;
        }

        h3 {
            color: $lightblue;

            &:after {
                background: $lightblue;
            }
        }
    }

    /* Cta */
    .btn {
        background: $lightblue !important;
    }

    /* Cover pagine interne */
    .section--cover .wrap-cover {
        background: $lightblue;
    }

    /* Foto pagine interne */
    .section--foto ._txt ._wrap-copy .tit {
        color: $lightblue;
    }

    /* Filtri */
    .section--filtri {
        .cta .btn {

            &:hover,
            &:focus {
                background: #000 !important;
            }
        }

        .cta.active .btn {
            background: $lightblue !important;
        }

        .drop-filtri {

            button {

                &:hover,
                &:focus {
                    background: #000 !important;
                    outline: none;
                }
            }

            .dropdown-item {

                &:hover {
                    background: $lightblue;
                }
            }

        }

    }

    /* Foto pagine interne colorate */
    .section--foto--color .wrap-cover {
        background: $lightblue;

        .years {
            background: $lightblue-dark;

        }
    }

    /* Sezione listing */
    .section--mix {
        .thumb .wrap-thumb-content {
            background: $lightblue;


        }

        .years {
            background: $lightblue-dark;
        }
    }
}

/* - - - - - - - - - - - - - - - - - - - - - -> Red */
.page-red {

    /* Titoli */
    .wrap-title {
        &:after {
            background: $red;
        }

        h3 {
            color: $red;

            &:after {
                background: $red;
            }
        }
    }

    /* Cta */
    .btn {
        background: $red !important;
    }

    /* Cover pagine interne */
    .section--cover .wrap-cover {
        background: $red;
    }

    /* Foto pagine interne */
    .section--foto ._txt ._wrap-copy .tit {
        color: $red;
    }

    /* Filtri */
    .section--filtri {
        .cta .btn {

            &:hover,
            &:focus {
                background: #000 !important;
            }
        }

        .cta.active .btn {
            background: $red !important;
        }

        .drop-filtri {
            .dropdown-item {
                &:hover {
                    background: $red;
                }
            }

        }

    }

    /* Foto pagine interne colorate */
    .section--foto--color .wrap-cover {
        background: $red;

        .years {
            background: $red-dark;

        }
    }

    /* Sezione listing */
    .section--mix {
        .thumb .wrap-thumb-content {
            background: $red;


        }

        .years {
            background: $red-dark;
        }
    }
}

/* - - - - - - - - - - - - - - - - - - - - - -> Purple */
.page-purple {

    /* Titoli */
    .wrap-title {
        &:after {
            background: $purple;
        }

        h3 {
            color: $purple;

            &:after {
                background: $purple;
            }
        }
    }

    /* Cta */
    .btn {
        background: $purple !important;
    }

    /* Cover pagine interne */
    .section--cover .wrap-cover {
        background: $purple;
    }

    /* Foto pagine interne */
    .section--foto ._txt ._wrap-copy .tit {
        color: $purple;
    }

    /* Filtri */
    .section--filtri {
        .cta .btn {

            &:hover,
            &:focus {
                background: #000 !important;
            }
        }

        .cta.active .btn {
            background: $purple !important;
        }

        .drop-filtri {
            .dropdown-item {
                &:hover {
                    background: $purple;
                }
            }

        }

    }

    /* Foto pagine interne colorate */
    .section--foto--color .wrap-cover {
        background: $purple;

        .years {
            background: $purple-dark;

        }
    }

    /* Sezione listing */
    .section--mix {
        .thumb .wrap-thumb-content {
            background: $purple;


        }

        .years {
            background: $purple-dark;
        }
    }
}

/* - - - - - - - - - - - - - - - - - - - - - -> Blue */
.page-blue {

    /* Titoli */
    .wrap-title {
        &:after {
            background: $blue;
        }

        h3 {
            color: $blue;

            &:after {
                background: $blue;
            }
        }
    }

    /* Cta */
    .btn {
        background: $blue !important;
    }

    /* Cover pagine interne */
    .section--cover .wrap-cover {
        background: $blue;
    }

    /* Foto pagine interne */
    .section--foto ._txt ._wrap-copy .tit {
        color: $blue;
    }

    /* Filtri */
    .section--filtri {
        .cta .btn {

            &:hover,
            &:focus {
                background: #000 !important;
            }
        }

        .cta.active .btn {
            background: $blue !important;
        }

        .drop-filtri {
            .dropdown-item {
                &:hover {
                    background: $blue;
                }
            }

        }

    }

    /* Foto pagine interne colorate */
    .section--foto--color .wrap-cover {
        background: $blue;

        .years {
            background: $blue-dark;

        }
    }

    /* Sezione listing */
    .section--mix {
        .thumb .wrap-thumb-content {
            background: $blue;


        }

        .years {
            background: $blue-dark;
        }
    }
}