$gray: #e6e6e6;

$gray-100: $gray !default;
$gray-200: #e6e6e6 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #222222 !default;

$white: white;
$black: black;
$red: #D11726;
$yellow: #fd9e00;
$blue: #0094b8;
$purple: #9b3b87;
$lightblu: #003b89;

$bg-red: #D11726;
$bg-yellow: #fd9e00;
$bg-blue: #0094b8;