@import "bootstrap/scss/mixins";
@import "bootstrap/scss/functions";
@import "mixins";
@import "colors";
@import "variables";

@import "components/typography";

@import "views/header";
@import "views/menu-mobile";
@import "views/hero";
@import "views/showreel";
@import "views/homepage";
@import "views/section";
@import "views/detail";
@import "views/form";
@import "views/contatti";
@import "views/footer";

html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	color: #000;
}

body {
	-webkit-overflow-scrolling: touch;

	@include sm-down {}
}

.page {
	/*min-height: 100vh;*/
	margin: 0;
	padding: 107px 0 0 0;
	overflow: hidden;
}

.wrapper {
	/*min-height: 100vh;*/
	margin: 0 auto;
	padding: 0;
}

.section {
	position: relative;
}

.divider {
	display: block;
	width: 100%;
	padding: 40px 0;
}

.btn.focus,
.btn:focus,
.btn-default:focus {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

// layout solo su mobile
@media (max-width: 767px) {

	.container,
	.container-fluid {
		padding-right: 35px;
		padding-left: 35px;
	}
}